body {
  background-color: rgb(211, 224, 226);
}

.profile {
    width: 550px;
}

.workexp-title {
    column-width: auto;

}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: auto;
}

h1 {
  color: steelblue;
}

h3 {
  color: steelblue;
}
